body {
  background-color: black;
  text-align: center;
}

.cta {
  color: Aquamarine;
  font-size: 16px;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
